################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/clu.active.learning/v15
/clu.active.learning/bin/Debug
/clu.active.learning/obj/Debug
/.vs/clu.active.learning/v14/.suo
/packages/Newtonsoft.Json.12.0.1
/packages/EntityFramework.6.2.0
/clu.active.learning.web/bin
/clu.active.learning.web/obj/Debug
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8
/packages/Microsoft.Net.Compilers.2.6.1
/.vs
/packages
/scripts/SchoolGradesDB_log.ldf
/scripts/SchoolGradesDB.mdf
/scripts/FourthCoffeeDB_log.ldf
/scripts/FourthCoffeeDB.mdf
/clu.active.learning.app/bin/Debug
/clu.active.learning.app/obj/Debug
/clu.active.learning.console/bin/Debug
/clu.active.learning.console/obj/Debug
