<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="REST">
          <enableWebScript/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="clu.active.learning.web.SalesService">
        <endpoint address="" behaviorConfiguration="REST" binding="webHttpBinding" contract="clu.active.learning.web.ISalesService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
